/*
Name: Tariq Cranston
Section: Network and Web Programming
Description: This is simple web programming assignment to build and link two webpages based around the recipe for a lemon meringue pie
*/

@media (max-width:2560px){ 
    body {
      background-image: url("https://www.edwardsdesserts.com/images/singles-slices/img-products-indiv-singles-slices-lemon.jpg");
      background-repeat: repeat;
      font-size: 15px;
      text-decoration-color: #404040;
      text-align: left;
    }
