/*
Name: Tariq Cranston
Section: Network and Web Programming
Description: This is simple web programming assignment to build and link two webpages based around the recipe for a lemon meringue pie
*/

@media (max-width:2560px){ 
    body {
      background-image: url("https://www.edwardsdesserts.com/images/singles-slices/img-products-indiv-singles-slices-lemon.jpg");
      background-repeat: repeat;
      font-size: 15px;
      text-decoration-color: #404040;
      text-align: left;
    }
    
    img {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }

    h1 {
      text-decoration: underline;
      font-family: "Lucida Sans";
      font-size: 29px;
      text-decoration-color: #A4A400;
      color: #A4A400;
      text-align: center;
      letter-spacing: 0.25em;
    }
