/*
Name: Tariq Cranston
Section: Network and Web Programming
Description: This is simple web programming assignment to build and link two webpages based around the recipe for a lemon meringue pie
*/

@media (max-width:2560px){    
    body {
      background-image: url("https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
      background-repeat: repeat;
      font-size: 15px;
      text-decoration-color: #404040;
      text-align: left;
    }
    
    h2 {
      text-decoration: underline;
      font-family: "Lucida Sans";
      font-size: 29px;
      text-decoration-color: #A4A400;
      color: #A4A400;
      text-align: center;
      letter-spacing: 0.25em;
    }
    
    a.container5 {
      text-decoration: underline;
      font-family: "Lucida Sans";
      font-size: 29px;
      text-decoration-color: #A4A400;
      color: #A4A400;
      text-align: center;
      letter-spacing: 0.25em;
    }

    a span{
      text-decoration: underline;
      font-family: "Lucida Sans";
      text-decoration-color: #A4A400;
      color: #A4A400;
    }
    
    h2 span {
      background-color: #F0F0F0;
    }

    h3 {
      text-decoration: underline;
      font-family: "Lucida Sans";
      text-decoration-color: #A4A400;
      color: #A4A400;
      text-align: left;
      letter-spacing: 0.25em;
    }

    h3 span {
      background-color: #F0F0F0;
    }
    
    li span {
      font-weight: bold;
    }

    p span{
      text-decoration: underline;
      font-family: "Lucida Sans";
      text-decoration-color: #A4A400;
      color: #A4A400;
    }
    

